XYZDriverAssociation/src/wsdl/localhost_8080/Generator/Generator.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://gen/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://gen/">

<xs:element name="generate_password" type="tns:generate_password"/>

<xs:element name="generate_passwordResponse" type="tns:generate_passwordResponse"/>

<xs:element name="generate_username" type="tns:generate_username"/>

<xs:element name="generate_usernameResponse" type="tns:generate_usernameResponse"/>

<xs:complexType name="generate_username">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="generate_usernameResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="generate_password">
<xs:sequence>
<xs:element name="i" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="generate_passwordResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>